* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	background: rgb(13, 10, 52);
	line-height: 1.6;
	color: white;
}

header {
	display: inline-block;
	padding: 1rem;
	margin: 2rem;
	background: purple;
	border-radius: 10px;
	animation: titleAnimate 2s ease-in forwards;
	transform: translate(-500px);
	vertical-align: center;
}

header h3 {
	font-size: 1.3rem;
}

header p {
	font-size: 1rem;
	padding-right: 5rem;
}

@keyframes titleAnimate {
	to {
		transform: translate(25px);
	}
}

.boxes {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.box-left {
	background: rgb(63, 52, 220);
	padding: 1rem;
	margin: 1rem 100px;
	display: block;
	border-radius: 10px;
	width: 25%;
}

.box-right {
	background: rgb(63, 52, 220);
	padding: 1rem;
	margin: 1rem 100px;
	display: block;
	border-radius: 10px;
	width: 25%;
	align-content: flex-end;
}